<%# provide(:title, "Contact") %>

<div class="contact">
	<h1 style="text-align: center;">contact</h1>
	<%= image_tag("https://www.anandgroupindia.com/wp-content/uploads/2019/05/contactus.jpg",alt:"Contact image") %>
</div>